<tr>
  <td>
    <%= link_to post.body, post_path(post), class: 'text-body' %>
  </td>
  <td>
    <%= post.user.name %>
  </td>
  <td>
    <%= l post.created_at, format: :long %>
  </td>
  <td>  
    <%= render 'crud_menus', post: post if current_user.own?(post) %>
  </td>
</tr>